.content-section
  padding: 0 20px

  aside
    width: 25%
    float: left
    padding-left: 20px
    padding-top: 0
    overflow: hidden

  section
    padding: 0
    padding-top: 1px
    margin-left: 25%
