.organization-edit-details
  display: inline-block

  .file-button
    z-index: 1

  &__forms
    display: inline-flex

    .forms__aside
      flex: 1 1
      line-height: 1.25
      margin-right: 1.5vw

    .forms__section
      flex-grow: 5

  .external-links-table
    >.drag-reorderable
      > [draggable]
        >td:first-of-type
          border-left: 1ch solid rgba(gray, .2)
