.organization-edit-details
  display: inline-block

  .file-button
    z-index: 1

  &__forms
    display: inline-flex

    .forms__aside
      flex: 1 1
      margin-right: 1.5vw
      line-height: 1.25

    .forms__section
      flex-grow: 5
