.image-selector
  position: relative
  width: 160px

  &__uploader
    background-color: lightgray
    border: dashed 1px darkgray
    height: 100%
    width: 100%

    &--without-border
      @extends .image-selector__uploader
      border: none

    img
      cursor: pointer
      vertical-align: top
      width: 100%

    .file-button
      cursor: pointer
      height: 100%
      left: 0px
      opacity: 0
      top: 0px
      width: 100%

  &__placeholder
    padding: 1.5em 3vw

  &__loader
    display: flex
    justify-content: center
