.landing
  align-items: center
  background: url(../images/builder-landing.jpg) center center no-repeat
  background-size: cover
  color: white
  display: flex
  flex-direction: column
  min-height: 100vh
  padding: 1em 3vw

  &__hero
    align-items: center
    display: flex
    flex-direction: column
    padding: 5em 0

  &__title
    color: inherit
    font-weight: 300
    line-height: 3em
    padding: 1.5em 0 0.5em

  &__tagline
    color: inherit
    font-size: 1.14em
    line-height: 1.5em
    margin: 0 auto
    max-width: 600px
    padding: 1em 0

  &__buttons
    display: inline-block

  &__button
    font-size: 1.14em
    font-weight: 400
    margin: 1vh 0 3vh
    padding: 1em 0
    width: 250px

  &__links-section
    border-left: 2px solid white
    display: inline-block
    margin-left: 1em
    padding: 0 0 0 0.5em

  &__links-heading
    color: white
    margin: 0 0 0.4em 0

  &__link
    display: block

  &__row
    display: flex
    flex-direction: row
    margin-bottom: 3vh
    width: 100%

  &__paragraph
    max-width: 500px
    padding-right: 2em
