.landing
  background: url(../images/builder-landing.jpg) center center no-repeat
  background-size: cover
  display: flex
  flex-direction: column
  align-items: center
  min-height: 100vh
  color: white

  &__hero
    display: flex
    flex-direction: column
    align-items: center
    padding: 5em 0

  &__title
    color: inherit
    font-weight: 300
    line-height: 40px
    padding: 1.5em 0 0.5em

  &__tagline
    color: inherit
    margin: 0 auto
    max-width: 600px
    padding: 1em 0
    line-height: 22px
    font-size: 0.8em

  &__buttons
    display: inline-block

  &__button
    margin: 1vh 0 3vh
    padding: 1em 0
    width: 250px
    font-size: 0.8em
    font-weight: 400

  &__links-section
    display: inline-block
    margin-left: 1em
    padding: 0 0 0 7.5px
    border-left: 2px solid white

  &__links-heading
    color: white
    margin: 0 0 5px 0

  &__link
    display: block
    font-size: 14px

  &__row
    width: 100%
    margin-bottom: 3vh
    display: flex
    flex-direction: row

  &__row-description
    max-width: 500px
    padding-right: 2em
