.organizations-list
  margin: 1.5em 3vw

  &__title
    font-size: .8em
    letter-spacing: .1em
    text-transform: uppercase

  &__list
    margin: 0
    padding: 0

  &__item
    border-top: 1px solid rgba(gray, 0.2)
    display: block

    &:first-child
      border-top: 0

  &__row
    display: flex
    align-items: center

  &__edit
    display: flex
    align-items: center
    text-decoration: none
    flex: 1 1 auto

  &__avatar
    background-position: 50%, 50%
    background-size: cover
    flex: 0 0 2.5em
    height: 2.5em

  &__description
    flex: 1 1 auto
    padding: 0.5em 1em
    color: FOREGROUND

    &:first-child
      padding-left: 0

  &__icon
    display: flex
    text-decoration: none
    color: MAIN_HIGHLIGHT
    padding: 0.5em 0.7em

  &__buttonContainer
    text-align: center

  &__createButton
    border-color: SECOND_HIGHLIGHT
    background: SECOND_HIGHLIGHT
    color: white

    &:focus,
    &:hover
      border-color: lighten(SECOND_HIGHLIGHT, 50%)
      background: lighten(SECOND_HIGHLIGHT, 50%)
      color: white

  &__infoButton
    border-color: MAIN_HIGHLIGHT
    background: MAIN_HIGHLIGHT
    color: white

    &:focus,
    &:hover
      border-color: lighten(MAIN_HIGHLIGHT, 50%)
      background: lighten(MAIN_HIGHLIGHT, 50%)
      color: white

  &--action
    &:hover
      background: rgba(MAIN_HIGHLIGHT, 0.2)

    &:active
      background: MAIN_HIGHLIGHT
      color: white
