.organization-layout
  display: grid
  grid-template-columns: 1.5fr 6.5fr
  grid-column-gap: 1em
  padding: 1em 3vw

  &__nav
    border-right: 1px solid
    padding-right: 1em

  &__section
    padding: 0 1em

  &__section-header
    font-size: 1.5em
    font-weight: bold
    letter-spacing: 0.1em
    color: GREY_MID
    text-transform: uppercase
    margin: 0.2em 0
    text-decoration: none

  &__section-instructions
    list-style-type: none
    margin-left: 0

  &__section-instructions--list-items
    margin-bottom: 0.5em
