.organization-layout
  display: grid
  grid-template-columns: 1fr 7fr
  grid-column-gap: 1em
  padding: 1em 3vw

  &__nav
    border-right: 1px solid
    padding-right: 1em

  &__section
    padding: 0 1em
