.organization-projects-list
  list-style-type: none
  padding-left: 0.1em

  .organization-project-item
    border: 0 solid rgba(128,128,128,0.3);
    border-top-width: 1px
    display: flex
    justify-content: space-between
    padding: 1em 0
    width: 50%

    &__button--remove
      @extends $reset-button
