.organization-layout
  display: grid
  grid-template-columns: 1.5fr 6.5fr
  grid-column-gap: 1em
  padding: 1em 3vw

  &__nav
    border-right: 1px solid
    padding-right: 1em

  &__section
    padding: 0 1em

.organization-section-header
  font-size: 2em
  font-weight: bold
  letter-spacing: 0.1em
  opacity: 0.7 // why are we using opacity to calculate text color?
  text-transform: uppercase
  margin: 0.2em 0
  text-decoration: none
