.organization-project-item
  a
    float: right
    text-decoration: none
  a:hover
    text-decoration: underline
  div.project-description
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    margin-top: 0.2em
