.resources-list
  margin: 1.5em 3vw

  &__title
    font-size: .8em
    letter-spacing: .1em
    text-transform: uppercase

  &__list
    margin: 0
    padding: 0

  &__item
    border-top: 1px solid rgba(gray, .2)
    display: block

    &:first-child
      border-top: 0

  &__row
    align-items: center
    display: flex

  &__editLink
    flex: 1 1 auto
    text-decoration: none

  &__editContent
    align-items: center
    display: flex

  &__avatar
    background-position: 50%, 50%
    background-size: cover
    flex: 0 0 2.5em
    height: 2.5em
    width: 2.5em

  &__description
    color: FOREGROUND
    flex: 1 1 auto
    padding: .5em 1em

    &:first-child
      padding-left: 0

  &__icon
    border: 0
    border-radius: 0
    box-shadow: none
    color: MAIN_HIGHLIGHT
    display: flex
    padding: .5em .7em
    text-decoration: none

  &__button-container
    padding: 1em 0
    text-align: center

  &__button--create
    background: SECOND_HIGHLIGHT
    border-color: SECOND_HIGHLIGHT
    color: white

    &:focus,
    &:hover
      background: lighten(SECOND_HIGHLIGHT, 50%)
      border-color: lighten(SECOND_HIGHLIGHT, 50%)

  &__button--info
    background: MAIN_HIGHLIGHT
    border-color: MAIN_HIGHLIGHT
    color: white

    &:focus,
    &:hover
      background: lighten(MAIN_HIGHLIGHT, 50%)
      border-color: lighten(MAIN_HIGHLIGHT, 50%)

  &--action
    &:hover
      background: rgba(MAIN_HIGHLIGHT, .2)

    &:active
      background: MAIN_HIGHLIGHT
      color: white
