.site-nav
  display: flex
  align-items: baseline
  justify-content: space-between
  font-size: 14px
  padding: 0.5em 1em

  &__main-links
    display: flex
    flex-wrap: wrap
    align-items: baseline
    justify-content: flex-start
    list-style-type: none

  &__link
    border-bottom: 2px solid transparent
    color: inherit
    display: inline-block
    opacity: 0.7
    padding: 0.5em 1em 0.3em
    text-decoration: inherit
    white-space: nowrap

    &:hover
      opacity: 1
      background: rgba(white, 0.2)
      position: relative
      z-index: 1 // copied PFE comment - This improves hit area on hover when used with a `link-buncher`.

    &--active
      opacity: 1
      border-bottom-color: white
