.style-guide
  flex: 1 0 auto
  display: flex
  flex-direction: column
  align-items: center

  &__buttons-section
    background: GREY_LIGHT
    padding: 4em
    min-width: 50em
    display: flex
    flex-direction: column

  &__buttons-container
    margin: 1.5em
    padding: 1.5em
    flex: 1 0 auto
    display: flex
    flex-direction: row
    justify-content: space-around
