.style-guide
  flex: 1 0 auto
  display: flex
  flex-direction: column
  align-items: center

  &__buttons-section
    background: GREY_LIGHT
    padding: 50px
    min-width: 750px
    display: flex
    flex-direction: column

  &__buttons-container
    margin: 20px
    padding: 20px
    flex: 1 0 auto
    display: flex
    flex-direction: row
    justify-content: space-around
