ZOONIVERSE_TEAL = #007482
ZOONIVERSE_NAVY = #0C4881
HIGHLIGHT_COLOR = #F0B200
ALERT_COLOR = #E45950
TEAL_LIGHT = #ADDDE0
TEAL_MID = #00979D
TEAL_DARK = #005D69
NAVY_LIGHT = #6D91B3

BACKGROUND = #EEF2F5 // off-white
GREY_LIGHT = #CBCCCB
GREY_MID = #646464 // in PFE "COPY"
FOREGROUND = #404040 // darker grey
BLACK_LIGHT = #272727

MAIN_HIGHLIGHT = #43bbfd
SECOND_HIGHLIGHT = #38b978
COBOLT_BLUE = #0072ff
BURNT_ORANGE = #f48a21
SUCCESS = #009E0C

// $brand-color = ZOONIVERSE_TEAL
// $brand-neutral-colors = #0a64a0, #dc2878, #501eb4, #49516f
// $brand-accent-colors = #00cceb, #ff7d28
// $brand-link-color = #865cd6
.grommetux-background-color-index-error, .grommetux-background-color-index-critical
  background-color: ALERT_COLOR

.grommetux-background-color-index-ok
  background-color: ZOONIVERSE_TEAL

// $brand-status-colors = (critical = ALERT_COLOR, error = ALERT_COLOR, warning = HIGHLIGHT_COLOR, ok = TEAL_MID, unknown = #a8a8a8, disabled = #a8a8a8)
// $brand-grey-colors = #000001, #333333, #3b3b3b, #434343, #666666
//Function nth is not supported in Stylus
//$button-secondary-color = nth($brand-neutral-colors, 2)
// $brand-font-family = "Karla", Arial, sans-serif
// $brand-large-number-font-family = "Karla", Arial, sans-serif
// $code-font-family = Consolas, Menlo, "DejaVu Sans Mono", "Liberation Mono", monospace
// $text-strong-font-weight = 500
// $fonts-path = "https://fonts.gstatic.com/s/worksans/v2"

@keyframes busy-animation
  from
    background-position: 0 0
  to
    background-position: 1em 0

/* Globally prevent Firefox from affecting buttons' dimensions. */
@css {
  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  @-moz-document url-prefix() {
    button:focus {
      outline: 1px dotted;
    }
  }
}

$reset-button
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  display: inline-block
  font: inherit
  line-height: inherit
  margin: 0
  padding: 0
  position: relative
  text-decoration: none

  &:disabled,
  &[data-disabled]
    cursor: inherit
    opacity: 0.3
    pointer-events: none

  &[data-busy]::after
    animation: busy-button-animation 1s linear infinite alternate
    background: linear-gradient(90deg, rgba(gray, 0), rgba(gray, 0.2), rgba(gray, 0))
    bottom: 0
    content: ""
    left: 0
    position: absolute
    top: 0
    right: 0

.color-label
  display: inline
  border-radius: 2px
  font-size: 0.5em
  font-weight: bold
  letter-spacing: 0.05em
  margin: 0 0.3em
  padding: 0 0.3em
  vertical-align: middle
  text-transform: uppercase
  pointer-events: none

  &.green
    border: 1px solid green
    color: green
  &.red
    border: 1px solid red
    color: red
  &.orange
    border: 1px solid orange
    color: orange
  &.blue
    border: 1px solid blue
    color: blue
  &.yellow
    border: 1px solid yellow
    color: orange
