ZOONIVERSE_TEAL = #007482
ZOONIVERSE_NAVY = #0C4881
HIGHLIGHT_COLOR = #F0B200
ALERT_COLOR = #E45950
TEAL_LIGHT = #ADDDE0
TEAL_MID = #00979D
TEAL_DARK = #005D69
NAVY_LIGHT = #6D91B3

BACKGROUND = #EEF2F5 // off-white
GREY_LIGHT = #CBCCCB
GREY_MID = #646464 // in PFE "COPY"
FOREGROUND = #404040 // darker grey
BLACK_LIGHT = #272727

MAIN_HIGHLIGHT = #43bbfd
SECOND_HIGHLIGHT = #38b978
COBOLT_BLUE = #0072ff
BURNT_ORANGE = #f48a21
SUCCESS = #009E0C

@keyframes busy-animation
  from
    background-position: 0 0
  to
    background-position: 1em 0

/* Globally prevent Firefox from affecting buttons' dimensions. */
@css {
  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  @-moz-document url-prefix() {
    button:focus {
      outline: 1px dotted;
    }
  }
}

$reset-button
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  display: inline-block
  font: inherit
  line-height: inherit
  margin: 0
  padding: 0
  position: relative
  text-decoration: none

  &:disabled,
  &[data-disabled]
    cursor: inherit
    opacity: 0.3
    pointer-events: none

  &[data-busy]::after
    animation: busy-button-animation 1s linear infinite alternate
    background: linear-gradient(90deg, rgba(gray, 0), rgba(gray, 0.2), rgba(gray, 0))
    bottom: 0
    content: ""
    left: 0
    position: absolute
    top: 0
    right: 0
