.form
  &__fieldset
    border: 0

  &__input
    border: 1px solid
    border-radius: 2px
    box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, .2) inset
    box-sizing: border-box
    display: block
    padding: .5em 1vw

    &--full-width
      width: 100%

  &__help
    font-size: .9em

  &__markdown-editor
    textarea
      @extends .form__input
    &--full
      textarea
        @extends .form__input
        width: 100%
