.layout

  &__header
    color white
    background #00979D

  &__main
    display: flex
    flex: 1 0 auto
    flex-direction: column
    min-height: 100vh

  &__footer
    background-color: black
    background: #272727
    color: hsla(0,0%,100%,.5)
