html
  background: BACKGROUND
  color: FOREGROUND
  font: 400 22px "Karla", sans-serif

h1, h2, h3, h4, h5
  font-smoothing: antialiased
  font-weight: bold
  margin: 0

h1
  font-size: 76px

h2
  font-size: 51px

h3
  font-size: 36px

h4
  font-size: 22px

h5
  font-size: 16px

p
  font-size: 14px

a
  color: MAIN_HIGHLIGHT
