{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-rewire"
        ],
        [
          "@babel/plugin-transform-react-jsx"
        ]
      ]
    }
  }
}
